# Distribution / packaging
.Python
env/
build/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# DotEnv configuration
.env

# Database
*.db
*.rdb

# VS Code
.vscode/
*.code-workspace

# Mac OS-specific storage files
.DS_Store

# Exclude virtual environment
.venv/

# exclude data from source control by default
# /data/
processed_rag_documents.csv
